@model Grid.Features.TicketDesk.ViewModels.TicketDetailsViewModel

<link href="~/Content/timeline.min.css" rel="stylesheet" />

<div class="btn-group pull-right" role="group">
    @Html.ActionLink("Edit", "Edit", "Tickets", new { id = Model.Id }, new { @class = "btn btn-primary" })
    <a href="#" id="activity" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal">Add Activity</a>
    @Html.ActionLink("Change Status", "ChangeStatus", "Tickets", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", "Tickets", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>
<h2>@Html.DisplayFor(model => model.Title)</h2>
<div>
    <hr/>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#notes" aria-controls="home" role="tab" data-toggle="tab">Notes & Activity</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">
            <br/>
            <div class="row">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Created By User
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreatedByUser.Person.Name)
                        </dd>

                        <dt>
                            Ticket Category
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketCategory.Title)
                        </dd>

                        <dt>
                            Ticket Sub Category
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TicketSubCategory.Title)
                        </dd>


                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.DueDate)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DueDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.UpdatedOn)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UpdatedOn)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="notes">
            <br/>
            <div class="timeline timeline-left gray-blue" data-bind="foreach: activities">
                <!-- Main element container -->
                <div class="timeline-block">
                    <!-- Single block -->
                    <div class="timeline-icon timeline-icon-hide-border">
                        <i class="fa fa-clock-o fa-lg"></i>
                    </div>
                    <div class="timeline-content">
                        <button type="button" class="btn btn-primary btn-delete pull-right" data-bind="click: $parent.removeActivity">
                            <i class="fa fa-remove" title="Delete"></i>
                        </button>
                        <h3 data-bind="text: Title"></h3>
                        <p data-bind="html: Comment"></p>
                        <div class="timeline-date" data-bind="text: CreatedOn"></div> <!-- Date -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .btn-delete {
        width: 25px;
        height: 25px;
        padding: 2px 2px;
        font-size: 13px;
        line-height: 1.33;
        border-radius: 25px;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Activity</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" id="newNoteTitle" class="form-control" value="Note" />
                    </div>
                    <div class="form-group">
                        <textarea id="newNote" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: addNewNote">Submit</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/App/TicketDetailsViewModel.js"></script>
    <script>
        var vm = new TicketDetailsViewModel();
        vm.init('@Model.Id');
        ko.applyBindings(vm);
    </script>
}
