@model Grid.Features.Recruit.Entities.JobOffer

<h2>Details</h2>

<div>
    <h4>JobOffer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Candidate.Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Candidate.Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CTC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CTC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

    </dl>
</div>
