@using Grid.Features.RMS.Entities.Enums
@model  Grid.Features.RMS.ViewModels.RequirementDetailsViewModel

<div class="btn-group pull-right" role="group">
    @Html.ActionLink("Edit", "Edit", "Requirements", new { id = Model.Id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Document", "Create", "RequirementDocuments", new { area = "RMS", requirementId = Model.Id }, new { @class = "btn btn-primary" })
    @if (Model.RequirementStatus == RequirementStatus.New)
    {
        <a href="#" id="needsTechReview" class="btn btn-primary" data-toggle="modal" data-target="#needsTechReviewModal">Need Technical Review</a>
    }
    @if (Model.RequirementStatus == RequirementStatus.New || Model.RequirementStatus == RequirementStatus.TechnicalReviewCompleted)
    {
        <a href="#" id="submitProposal" class="btn btn-primary" data-toggle="modal" data-target="#proposalModal">Submit Proposal</a>
    }
    @if (Model.RequirementStatus == RequirementStatus.NeedTechnicalReview)
    {
        <a href="#" id="submitTechnicalReview" class="btn btn-primary" data-toggle="modal" data-target="#submitTechnicalReviewModal">Submit Technical Content</a>
    }
    @if (Model.RequirementStatus >= RequirementStatus.Proposed && Model.RequirementStatus < RequirementStatus.Lost)
    {
        <a href="#" id="changeStatus" class="btn btn-primary" data-toggle="modal" data-target="#changeStatusModal">Change Status</a>
    }

    <a href="#" id="changeStatus" class="btn btn-primary" data-toggle="modal" data-target="#addNoteModal">Add Activity</a>
    @Html.ActionLink("Delete", "Delete", "Requirements", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>


<h2><a href="@Model.Url" target="_blank">@Html.DisplayFor(model => model.Title)</a></h2>

<div>
    <hr />

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#info" aria-controls="home" role="tab" data-toggle="tab">Info</a></li>
        <li role="presentation"><a href="#billing" aria-controls="home" role="tab" data-toggle="tab">Billing</a></li>
        <li role="presentation"><a href="#documents" aria-controls="profile" role="tab" data-toggle="tab">Documents</a></li>
        <li role="presentation"><a href="#notes" aria-controls="home" role="tab" data-toggle="tab">Notes & Activity</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="info">
            <br />
            <div class="row">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>
                            Status
                        </dt>
                        <dd>
                            @Model.RequirementStatus
                        </dd>
                        <dt>
                            Assigned To
                        </dt>
                        <dd>
                            @Model.AssignedToUser.Person.Name
                        </dd>
                        <dt>
                            Client
                        </dt>
                        <dd>
                            @Html.ActionLink(Model.Contact.Person.Name, "Details", "CRMContacts", new { area = "CRM", id = Model.ContactId }, null)
                        </dd>
                        <dt>
                            Source
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Source.Title)
                        </dd>
                        <dt>
                            Category
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Category.Title)
                        </dd>
                    </dl>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4>Technologies</h4>
                            @foreach (var technology in Model.Technologies)
                            {
                            <span class="label label-primary">@technology.Title</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>
                            Description
                        </dt>
                        <dd>
                            @Html.Raw(Model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <dl class="dl-horizontal">
                        <dt>
                            Created By
                        </dt>
                        <dd>
                            @Model.CreatedByUser.Person.Name
                        </dd>
                        <dt>
                            Created On
                        </dt>
                        <dd>
                            @Model.CreatedOn
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="billing">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BillingType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BillingType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Budget)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Budget)
                </dd>
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane" id="documents">
            <br />
            <table class="table">
                <tr>
                    <th>
                        Document Type
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Created On
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.RequirementDocuments)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentType)
                        </td>
                        <td>
                            <a href="@item.DocumentPath" target="_blank">@item.FileName</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedOn)
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", "RequirementDocuments", new { area = "RMS", id = item.Id }, null)
                        </td>
                    </tr>
                }

            </table>

        </div>
        <div role="tabpanel" class="tab-pane" id="notes">
            <br />

            <div class="timeline timeline-left gray-blue" data-bind="foreach: activities">
                <!-- Main element container -->
                <div class="timeline-block">
                    <!-- Single block -->
                    <div class="timeline-icon timeline-icon-hide-border">
                        <i class="fa fa-clock-o fa-lg"></i>
                    </div>
                    <div class="timeline-content">
                        <button type="button" class="btn btn-primary btn-delete pull-right" data-bind="click: $parent.removeActivity">
                            <i class="fa fa-remove" title="Delete"></i>
                        </button>
                        <h3 data-bind="text: Title"></h3>
                        <p data-bind="html: Comment"></p>
                        <div class="timeline-date" data-bind="text: CreatedOn"></div> <!-- Date -->
                    </div>
                </div>
            </div>
        </div>
        <style>
            .btn-delete {
                width: 25px;
                height: 25px;
                padding: 2px 2px;
                font-size: 13px;
                line-height: 1.33;
                border-radius: 25px;
            }
        </style>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="proposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Proposal</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea id="proposalContent" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: submitProposal">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="needsTechReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit for Technical Review</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea id="techReviewRequest" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: submitForTechnicalReview">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="submitTechnicalReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Submit Technical Review Content</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <textarea id="techReviewContent" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: submitTechnicalReviewContent">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Activity</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" id="newNoteTitle" class="form-control" value="Note" />
                    </div>
                    <div class="form-group">
                        <textarea id="newNote" class="form-control htmlEditor"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="text" id="activityDate" class="form-control dateTimePicker" value="" data-bind="value: $root.currentDate" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: addNewNote">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Status</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-md-12">
                            <select class="form-control" id="RequirementStatus" name="RequirementStatus">
                                <option value="5">Hot</option>
                                <option value="6">Cold</option>
                                <option value="7">Lost</option>
                                <option value="8">Won</option>
                                <option value="9">Rejected</option>
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <textarea id="statusComment" class="form-control htmlEditor"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bind="click: changeRequirementStatus">Submit</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/App/RequirementDetailsViewModel.js"></script>
    <script>
        var vm = new RequirementDetailsViewModel();
        vm.init('@Model.Id');
        ko.applyBindings(vm);
    </script>
}