@model Grid.Features.IMS.Entities.AssetDocument

<h2>Details AssetDocument</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentPath)
        </dd>

    </dl>
</div>